{% extends 'base.html' %}

{% block content %} 

    <header class="hero-section">
        <h3 class="header-text">Welcome To The Marvel Collection</h3>
    </header>

    <div class="container">
        <h3>{{ current_user.own_hero_name }}, here are your credentials:</h3>
        <ul class="list-group">
            <li class="list-group-item">Email: {{ current_user.email }}</li>
            <li class="list-group-item">Token: {{ current_user.token }}</li>
        </ul>
    </div>

{% endblock content %}